* {
    font-family: $richard;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/img/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
main{
    margin-top: 7rem;
    margin-bottom: 5rem;
}
main img{
    transition: transform 1.6s ease;
    &:hover{
        transform: scale(1.03);
    }
}
