//NAV
header{
    background-color: rgba(map-get($map:$paleta, $key: 'main'), $alpha: .7);
    width: 100%;
    h1{
        @include texto(6rem,600,map-get($map:$paleta, $key: 'third'));
        font-family: $conjuro;
        transition: transform .1s;
        &:hover{
            color: $hoversMain;
            transform: translateX(.5px);
        }
        @include cel{
            font-size: 6.5rem;
        }
        @include smart{
            font-size: 7rem;
        }
        @include tablet{
            font-size: 9rem;
        }
        @include tablet-xl{
            font-size: 5rem;
        }
        @media screen and (min-width: 901px) and (max-width: 1350px){
            font-size: 6rem;
        }
    }
    p{
        @include texto(2rem,300,map-get($map:$paleta, $key: 'third'));
        font-family: $subtitulo;
        transition: transform .1s;
        &:hover{
            color: $hoversMain;
            transform: translateX(.5px);
        }
        @include cel{
            font-size: 1.9rem;
        }
        @include smart{
            font-size: 1.9rem;
        }
        @include tablet{
            font-size: 1.9rem;
        }
        @include tablet-xl{
            font-size: 1.5rem;
        }
        @include desktop{
            font-size: 1.8rem;
        }
        @include wide{
            font-size: 1.5rem;
        }
    }
    ul{
        list-style-type: none;
        li a{
                p{
                    @include texto(2.7rem,400,map-get($map:$paleta, $key: 'third'));
                    font-family: $richard;
                    @include cel{
                        font-size: 4.5rem;
                    }
                    @include smart{
                        font-size: 4.5rem;
                    }
                    @include tablet{
                        font-size: 4.5rem;
                    }
                    @media screen and (min-width: 688px) and (max-width: 767px){
                        font-size: 1.9rem;
                    }
                    @media screen and (min-width: 768px) and (max-width: 900px){
                        font-size: 2rem;
                    }
                    @include desktop{
                        font-size: 2.5rem;
                    }
                    @include wide{
                        font-size: 2.2rem;
                    }
                    transition: transform .1s;
                    &:hover{
                        color: $hoversMain;
                        transform: translateX(.5px);
                    }
                }
        }
    }
    button{
        background-color: transparent;
        border-color:transparent;
        img{
            height: 30px;
            width: 30px;
            background-color: transparent;
            cursor: pointer;
            transition: transform .1s;
            &:hover{
                transform: translateX(.5px);
            }
            @media screen and (min-width: 688px) and (max-width: 1110px){
                height: 18px;
                width: 18px;
            }
            @include wide{
                height: 21px;
                width: 21px;
            }
        }
    }
}
.logo{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    margin: 1rem;
    transition: transform 2s;
    &:hover{
        transform: rotate(180deg);
    }
    @include cel{
        height: 45px;
        width: 45px;
    }
    @include smart{
        height: 50px;
        width: 50px;
    }
    @include tablet{
        height: 57px;
        width: 57px;
    }
    @include tablet-xl{
        height: 75px;
        width: 75px;
    }
    @include desktop{
        height: 90px;
        width: 90px
    }
    @include wide{
        height: 140px;
        width: 140px;
    }
}
.botones{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    opacity: .8;
    transition: transform .1s;
    &:hover{
        transform: translateX(.5px);
    }
    @include cel{
        height: 23px;
        width: 23px;
        margin-left: 1rem;;
    }
    @include smart{
        height: 21px;
        width: 21px;
        margin-left: 1rem;
    }
    @include tablet{
        height: 20px;
        width: 20px;
        margin-left: 1rem;
    }
    @include tablet-xl{
        height: 20px;
        width: 20px;
    }
    @include desktop{
        height: 20px;
        width: 20px;
    }
    @include wide{
        height: 25px;
        width: 25px;
    }

}
.botones-margin{
    margin:.3rem;
}
.buscador{
    margin:.3rem;
}
.barra-buscadora{
    height: 30px;
    width: 150px;
    @include tablet-xl{
        height: 18px;
        width: 65px;
    }
    @include desktop{
        height: 20px;
        width: 85px;
    }
    @include wide{
        height: 25px;
        width: 100px;
    }
}
.hamburguesa{
    height: 23px;
}
