$borders2: #EAE8DC;
$hoversMain: #454848;
$paleta:(
    'main': #383146,
    'secondary': #A3BFBC,
    'third': #27403D,
    'forth': #8FD9D9,
    'black': #151414,
    'white': #f5f3f3,
    'fondo':#F2F1E9,
);