$borders: #262626;
$borders2: #EAE8DC;
$hovers: #343230;
$hoversMain: #4b4a49;
$paleta:(
    'main': #D9B4B7,
    'secondary': #D6CCC3,
    'third': #3f434b,
    'forth': #97A697,
    'black': #151414,
    'white': #f5f3f3,
);